/* SCREEN WITH WIDTH BETWEEN 1149 AND 1199 */
@media only screen and (max-width: 1199px) {

    /* ==Meowdentials== */
    .meowdentials .col-sm-3 {
        max-width: 210px;
    }
    
}

/* SCREEN WITH WIDTH BETWEEN 1080 AND 1148 */
@media only screen and (max-width: 1148px) {
    
    /* ==Navbar== */
    
    nav a {
        font-size: 1.26rem;
    }
    
    a button {
        padding: 0px 11px;
    }
    
     /* ==Fixed button== */
    
    #scroll-btn {
        width: 60px;
    }
    
    #scroll-btn p {
        font-size: 170%;
    }
    
    /* ==Meowtact== */
    .meowtact p {
        font-size: 1.5rem;
    }
    
    .meowtact .icon {
        font-size: 6rem;
    }
    
     .meowtact .icon:hover {
        font-size: 7rem;
    }
    
    .meowtact-channels {
        height: 400px;
    }
   
}

/* SCREEN WITH WIDTH BETWEEN 992 AND 1079 */
@media only screen and (max-width: 1079px) {
    
    /* =General== */
    
    .quotes {
        font-size: 140%;
    }
    
    h2 {
        font-size: 475%;
    }
    
    /* ==Navbar== */
    #navbar-extra {
        margin: auto 4%;
    }
    
    /* ==Main header== */
    .main-header {
        max-width: 992px;
        left: 6%;
    }
    
    h1 {
        font-size: 7.1rem;
    }
    
    .website-container h3 {
        font-size: 188%;
    }
    
    .btn-header a button {
        font-size: 1.26rem;
    }
    
    /* ==Meowtact== */
    .meowtact .icon {
        font-size: 5rem;
    }
    
    .meowtact .icon:hover {
        font-size: 6rem;
    }
    
    .meowtact .meowtact-data {
        font-size: 1rem;
    }
    
    .meowtact-channels {
    height: 380px;
    }
}
    

/* SCREEN WITH WIDTH BETWEEN 769 AND 991 */
@media only screen and (max-width: 991px) { 
    
    /* ==General== */
    
    p {
        font-size: 1.15rem;
    }
    
     .quotes {
        font-size: 135%;
    }
    
    /* ==Bootstrap== */
    .col-lg-4 {
        width: 33%;
    }
    
    
    /* ==Fixed button== */
    #scroll-btn {
        width: 50px;
        letter-spacing: 1px;
    }
    
    #scroll-btn p {
    font-size: 140%;
    }
    
    /* ==Main header== */
    
    .main-header {
        padding-top: 5rem;
    }
    
    h1 {
        font-size: 5.5rem;
    }
    
    .website-container h3 {
        font-size: 150%;
        letter-spacing: 2px;
    }
    
    .btn-header a button {
        font-size: 1.1rem;
    }
    
    /* ==Meowdentials== */
    
    .meowdentials .col-sm-3 {
        height: 280px;
        max-width: 155px;
    }
    
    .firstname p {
        font-size: 1.5rem;
    }
    
    /* Box 1,2,3 & 4 */
    
    .text .title {
        font-size: 14px;
    }
    
    .review {
        font-size: 12px;
        padding: 6px;
    }

} 

/* SCREEN WITH WIDTH BETWEEN 577 AND 768 */
@media only screen and (max-width: 767px) {
    
    /* ==General== */
    .quotes {
        font-size: 117%;
    }
    
    .header-container {
        height: 100vh;
        position: relative;
    }
    
    .website-container h3 {
        font-size: 135%;
        font-weight: 400;
    }
    
    
    /* ==Main header== */
    h1 {
        font-size: 5rem;
    }
    
    h2 {
        font-size: 400%;
    }
    
    .main-header {
        padding-top: 6rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        margin: 0 auto;
    }

    /* ==Mobile nav== */
    .mobile-nav-icon {
        display: block;
    }
    
    #navbar-extra {
        float: left;
        margin: auto 2%;
        display: none;
    }
    
    
    #navbar-extra li{
        display: block;
    }
    
    #navbar-extra li:link 
    #navbar-extra li:visited {
        display: block;
    }
    
    .navbar-nav {
        flex-direction: unset;
    }
    
    .navbar {
        align-items: unset;
    }
    
    /* ==Meowtact== */
    .meowtact .meowtact-data {
        font-size: 15px;
    }
    
    .meowtact .icon {
        font-size: 4rem;
    }
    
    .row {
        max-width: 90%;
    }
    
    /* ==Meowdentials== */
    .container {
        padding-right: 8px;
        padding-left: 8px;
        max-width: 767px;
    }
    
    .meowdentials .col-sm-3 {
        height: 260px;
        max-width: 140px;
    }
    
    .firstname p {
        font-size: 1.5rem;
        top: 70px;
    }
    
    .review {
        font-size: 11px;
        padding: 6px;
    }
   
} 

/* SCREEN WITH WIDTH BETWEEN 577 AND 625 */
@media only screen and (max-width: 685px) {
    
    h1 {
    font-size: 4rem;
    }
    
    .website-container h3 {
    font-size: 124%;
    }
}

/* SCREEN WITH WIDTH BETWEEN 577 AND 625 */
@media only screen and (max-width: 625px) { 
    
    /* ==Meowtact== */
    .meowtact .meowtact-data {
        font-size: 13px;
    }
    
    /* ==Meowdentials== */
    
    .container {
        padding-right: 8px;
        padding-left: 8px;
        max-width: 767px;
    }
    
    .meowdentials .col-sm-3 {
        height: 240px;
        max-width: 130px;
    }
    
    .firstname p {
        font-size: 1.4rem;
        top: 55px;
    }
    
    .review {
        font-size: 10.5px;
        padding: 6px;
    }

}

/* SCREEN WITH MAXIMUM WIDTH 576PX */
@media only screen and (max-width: 576px) {
    
    /* ==General== */
    
    p {
        font-size: 1rem;
    }

    .quotes {
        font-size: 105%;
        font-size: 115%;
        letter-spacing: 5px;
    }
    
    .header-container {
        height: 100vh;
    }
    
    h3 {
        font-size: 400%;
    }
    
    h2 {
        font-size: 270%;
        letter-spacing: 4px;
    }
    
    .website-container h3 {
    font-size: 100%;
    }

    /* ==Main Header== */

     .main-header {
        text-align: center;
    }
    
    /* ==Meowtact== */
    
    
    .meowtact .meowtact-data {
        font-size: 1rem;
    }
    
     .col-lg-4 {
        padding: 0px;
        width: 100%;
    }
    
    .col-lg-4:after {
        display: block;
        height: 1px;
        width: 150px;
        background-color: #f2f2f2;
        content: " ";
        margin: 0 auto;
        margin-top: 30px;
    }
    
    #post:after {
    display: none;
    }
    
    .meowtact .row {
        max-width: 100%;
    }
    
    .container {
        height: auto;
    }
    
    .meowtact .icon {
        font-size: 5rem;
    }
    
    
    /* ==Meowdentials== */
    
    .meowdentials .col-sm-3 {
        height: 300px;
        max-width: 240px;
        margin-top: 15px;
    }
    
    .firstname p {
        font-size: 2rem;
        top: 70px;
    }
    
    .meowtact .row {
        max-width: 90%;
    }
    
     .review {
        font-size: 13.5px;
        padding: 6px;
    }

}

/* SCREEN WITH MAXIMUM WIDTH 375PX */
@media only screen and (max-width: 376px) {
    
    /* == Main header == */

    .btn-header a button {
        font-size: 0.9rem;
        margin: 10px 4px;
        padding: 10px;
    }
    
}

/* SCREEN WITH MAXIMUM WIDTH 360PX */
@media only screen and (max-width: 360px) {
    
    /* == General == */
    

    .quotes {
        font-size: 1rem;
        margin-top: 45px;
        max-width: 90%;
        }

    h2 {
        font-size: 225%;
        letter-spacing: 2px;
    }
    
    p {
    font-size: 15px;
    }
    
    /* == Navbar == */
    #navbar-extra {
        margin: 8%;
    }
    
    /* == Main header == */
    
    .btn-header a button {
        font-size: 0.8rem;
        margin: 10px 4px;
        padding: 10px;
    }
    
    /* == Meowdentials == */
    
    .meowdentials .col-sm-3 {
        margin-top: 1.5px;
    }
    
}

@media only screen and (max-width: 320px) {

}