/* SCREEN WITH WIDTH BETWEEN 1149 AND 1199 */
@media all and (max-width: 1199px) {

    /* ==Meowdentials== */
    .meowdentials .col-sm-3 {
        max-width: 210px;
    }
    
}

/* SCREEN WITH WIDTH BETWEEN 1080 AND 1148 */
@media all and (max-width: 1148px) {
    
    /* ==Navbar== */
    
    nav a {
        font-size: 1.26rem;
    }
    
    a button {
        padding: 0px 11px;
    }
    
     /* ==Fixed button== */
    
    #scroll-btn {
        width: 60px;
    }
    
    #scroll-btn p {
        font-size: 170%;
    }
    
    /* ==Meowtact== */
    .meowtact p {
        font-size: 1.5rem;
    }
    
    .meowtact .icon {
        font-size: 6rem;
    }
    
     .meowtact .icon:hover {
        font-size: 7rem;
    }
    
    .meowtact-channels {
        height: 400px;
    }
   
}

/* SCREEN WITH WIDTH BETWEEN 992 AND 1079 */
@media all and (max-width: 1079px) {
    
    /* =General== */
    
    .quotes {
        font-size: 140%;
    }
    
    h2 {
        font-size: 475%;
    }
    
    /* ==Navbar== */
    #navbar-extra {
        margin: auto 4%;
    }
    
    /* ==Main header== */
    .main-header {
        max-width: 992px;
        left: 6%;
    }
    
    h1 {
        font-size: 7.1rem;
    }
    
    .website-container h3 {
        font-size: 188%;
    }
    
    .btn-header a button {
        font-size: 1.26rem;
    }
    
    /* ==Meowtact== */
    .meowtact .icon {
        font-size: 5rem;
    }
    
    .meowtact .icon:hover {
        font-size: 6rem;
    }
    
    .meowtact .meowtact-data {
        font-size: 1rem;
    }
    
    .meowtact-channels {
    height: 380px;
    }
}
    

/* SCREEN WITH WIDTH BETWEEN 769 AND 991 */
@media all and (max-width: 991px) { 
    
    /* ==General== */
    
    p {
        font-size: 1.15rem;
    }
    
     .quotes {
        font-size: 135%;
    }
    
    /* ==Bootstrap== */
    .col-lg-4 {
        width: 33%;
    }
    
    
    /* ==Fixed button== */
    #scroll-btn {
        width: 50px;
        letter-spacing: 1px;
    }
    
    #scroll-btn p {
    font-size: 140%;
    }
    
    /* ==Main header== */
    
    .main-header {
        padding-top: 5rem;
    }
    
    h1 {
        font-size: 5.5rem;
    }
    
    .website-container h3 {
        font-size: 150%;
        letter-spacing: 2px;
    }
    
    .btn-header a button {
        font-size: 1.1rem;
    }
    
    /* ==Meowdentials== */
    
    .meowdentials .col-sm-3 {
        height: 280px;
        max-width: 155px;
    }
    
    .firstname p {
        font-size: 1.5rem;
    }
    
    /* Box 1,2,3 & 4 */
    
    .text .title {
        font-size: 14px;
    }
    
    .review {
        font-size: 12px;
        padding: 6px;
    }

} 

/* SCREEN WITH WIDTH BETWEEN 576 AND 768 */
@media all and (max-width: 768px) {
    
    /* ==General== */
    .quotes {
        font-size: 115%;
    }
    
    .header-container {
        height: 75vh;
    }
    
    .website-container h3 {
        font-size: 105%;
        font-weight: 400;
    }
    
    .main-header {
        padding-top: 1rem;
    }
    
    /* ==Main header== */
    h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 4rem;
    }
    
    /* ==Meowtact== */
    .meowtact .meowtact-data {
        font-size: 13px;
    }
    
    .meowtact .icon {
        font-size: 4rem;
    }
    
    .row {
        max-width: 90%;
    }
    
    /* ==Meowdentials== */
   

} 

/* SCREEN WITH MAXIMUM WIDTH 576PX */
@media all and (max-width: 576px) {
    
    /* == Main header == */
    
    .header-container {
        height: 75vh;
    }
    
    h2 {
        font-size: 350%;
    }
    
    /* ==Meowtact== */
    
    .quotes {
        font-size: 115%
    }
    
    p {
        font-size: 1.1rem;
    }
    
    .meowtact .meowtact-data {
        font-size: 13px;
    }
    
    .row {
        max-width: 90%;
    }
    
    /* ==Meowdentials== */
    
    .meowdentials .col-sm-3 {
        height: 300px;
        max-width: 240px;
        margin-top: 15px;
    }
    
    .firstname p {
        font-size: 2rem;
    }
    
    .meowtact .meowtact-data {
        font-size: 13px;
    }
    
    .meowtact .row {
        max-width: 90%;
    }
}
   